ProjetoRH/ProjetoParaRH.json
{
  "name": "ProjetoParaRH",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "14cc7ec2-4d48-4c9b-81d1-4dac743b6475",
      "name": "Gmail Trigger",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "BX4mjy2hVq18D8zI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3131ac3-300f-47ba-8de3-c8f4205f7ad9",
              "leftValue": "={{  $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "045907ad-8849-468d-ba64-a506fbc72606",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31e791a5-562c-4211-835a-1b6b31e941d1",
              "name": "id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "2fcb58f8-826c-41fa-9d39-73a5f5f3d2de",
              "name": "from.value[0].adress",
              "value": "={{ $json.from.value[0].address}}",
              "type": "string"
            },
            {
              "id": "72b9a377-1e60-4d3c-801c-cb98666cc1d7",
              "name": "from.value[0].name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "4fda7975-6f50-4ce2-ac33-06b842294870",
              "name": "headers.subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "7824a30d-11be-4a9b-91d2-c33995091fa1",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "e2f175c5-7dab-436e-ac5d-0e0faaedf379",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Filter').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "a08ccc94-6d20-4df7-bc3a-92d76a33a0e1",
      "name": "Get a message",
      "webhookId": "e012d279-973a-4256-8d3c-3dd2a8ad72a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "BX4mjy2hVq18D8zI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f951fae5-6c16-4fc1-ae5c-4bcc2d98169c",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "753ff961-c348-4b26-8ab0-5ea2fb8fc79d",
              "name": "attachment_(0)",
              "value": "={{ [ $binary.attachment_0 ] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -256
      ],
      "id": "2b7632ac-37e8-4988-a2e7-5ed12692977b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['attachment_(0)']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        -256
      ],
      "id": "29ef2f4d-e803-44aa-b5cd-136fb149f07e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Edit Fields1').item.json['attachment_(0)'][0] }}",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1WVNBrIlqDRaa1qSkC9zAtdFpvaK05qBr",
          "mode": "list",
          "cachedResultName": "Curriculo pdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WVNBrIlqDRaa1qSkC9zAtdFpvaK05qBr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        -32
      ],
      "id": "5a4b3e78-59d4-4f57-8730-955ac52db9d4",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3WzqY45Hh8SQQm5Q",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1-oDDGfoQC_V8Gw2t20BEZMgg1Uq-hIjtgDFuipdtths",
          "mode": "list",
          "cachedResultName": "FELIPE YAN DE SOUZA FRANCA",
          "cachedResultUrl": "https://docs.google.com/document/d/1-oDDGfoQC_V8Gw2t20BEZMgg1Uq-hIjtgDFuipdtths/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        272
      ],
      "id": "6308f5b5-59a8-42aa-88a3-5df7f3541006",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3WzqY45Hh8SQQm5Q",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        288,
        272
      ],
      "id": "f4e2c260-b932-44ce-8104-a3e97774effe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "NOME",
              "description": "NOME"
            },
            {
              "name": "CURSOS",
              "description": "CURSOS"
            },
            {
              "name": "EMAIL",
              "description": "EMAIL"
            },
            {
              "name": "CONTATO",
              "description": "CONTATO"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        496,
        272
      ],
      "id": "00a63c55-ec77-416e-a1db-c7377a27629d",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        432
      ],
      "id": "ed5b4117-f8c5-4fc5-a50f-79c713529fc2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1jSKuKdtiQUsT8za",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u3TorSYpZdL807taVA2vMSZkpSngI4jhQbojjAxrET8",
          "mode": "list",
          "cachedResultName": "DADOS CURRICULO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u3TorSYpZdL807taVA2vMSZkpSngI4jhQbojjAxrET8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DADOS CURRICULO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u3TorSYpZdL807taVA2vMSZkpSngI4jhQbojjAxrET8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CURSOS",
              "displayName": "CURSOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTATO",
              "displayName": "CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        272
      ],
      "id": "c198dabe-33c2-4d6d-bd00-4434841f08e1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XzITyindf3CnISMP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b274b2f1-df7b-44e0-953d-7bdb20501edd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b21bb1ab7d389364369f9860c94b3e396e0fa7870b2f5762c95f841af3cfdd7"
  },
  "id": "2lyjAOwxQl7c5gu6",
  "tags": []
}